<h1>Wort bearbeiten</h1>

<%= render 'form', vword: @vword %>

<%= link_to 'Anzeigen', @vword %> |
<%= link_to 'Zurück', vwords_path %> |
<!-- <%= link_to 'Löschen', vwords_path %> -->
<%= link_to 'Löschen', @vword, method: :delete, data: { confirm: 'Are you sure?' } %>
