<p id="notice"><%= notice %></p>

<h1>Wörterbuch: Deutsch-Vietnamesisch</h1>

<table>
  <thead>
    <tr>
      <th>Deutsch</th>
      <th>Vietnamesisch</th>
      <th>Beispielsatz</th>
      <th>Like</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @translations.each do |translation| %>
      <tr>
        <td><%= translation.gword.entry %></td>
        <td><%= translation.vword.entry %></td>
        <td><%= translation.explain %></td>
        <td><%= translation.like %></td>
        <!-- <td><%= link_to 'Anzeigen', translation %></td> -->
        <td><%= link_to 'Bearbeiten', edit_translation_path(translation) %></td>
        <!-- <td><%= link_to 'Löschen', translation, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neue Übersetzung', new_translation_path %>

</p>
<table>
  <tr>
    <th>Navigation</th>
    <td> <%= link_to 'Deutsche Wörter', gwords_path %> </td>
  </tr>
  <tr>
    <th></th>
    <td><%= link_to 'Vietnamesische Wörter', vwords_path %> </td>
  </tr>
</table>
