<p id="notice"><%= notice %></p>

<p>
  <strong>Deutsch</strong>
  <%= @translation.gword.entry %>
</p>

<p>
  <strong>Vietnamesisch</strong>
  <%= @translation.vword.entry %>
</p>

<p>
  <strong>Beispielsatz:</strong>
  <%= @translation.explain %>
</p>

<p>
  <strong>Like:</strong>
  <%= @translation.like %>
</p>
<%= link_to 'Bearbeiten', edit_translation_path(@translation) %> |
<%= link_to 'Zurück', translations_path %>
