<p id="notice"><%= notice %></p>

<p>
  <strong>Explain:</strong>
  <%= @translation.explain %>
</p>

<p>
  <strong>Like:</strong>
  <%= @translation.like %>
</p>

<p>
  <strong>Gword:</strong>
  <%= @translation.gword %>
</p>

<p>
  <strong>Vword:</strong>
  <%= @translation.vword %>
</p>

<%= link_to 'Edit', edit_translation_path(@translation) %> |
<%= link_to 'Back', translations_path %>
