<p id="notice"><%= notice %></p>

<h1>Wörterbuch</h1>

<table>
  <thead>
    <tr>
      <th>Englisch</th>
      <th>Deutsch</th>
      <th>Beispielsatz</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.Word %></td>
        <td><%= entry.Translate %></td>
        <td><%= entry.Explanation %></td>
        <td><%= entry.fav %></td>
        <td><%= link_to 'Anzeigen', entry %></td>
        <td><%= link_to 'Bearbeiten', edit_entry_path(entry) %></td>
        <td><%= link_to 'Löschen', entry, method: :delete, data: { confirm: 'Bist Du sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuer Eintrag', new_entry_path %>
