<p id="notice"><%= notice %></p>

<h1>Gwords</h1>

<table>
  <thead>
    <tr>
      <th>Deutsch</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gwords.each do |gword| %>
      <tr>
        <td><%= gword.entry %></td>
        <td><%= link_to 'Show', gword %></td>
        <td><%= link_to 'Edit', edit_gword_path(gword) %></td>
        <td><%= link_to 'Destroy', gword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gword', new_gword_path %>
