<p id="notice"><%= notice %></p>

<p>
  <strong>Entry:</strong>
  <%= @gword.entry %>
</p>

<h3>Kommentare</h3>
<table>
  <% @comments.each do |comment| %>
    <tr>
      <th><%= comment.commenter %> sagt</th>
      <td><%= comment.body %> <tab> <i>am <%= comment.created_at %></i> </td>
    </tr>
    <%end%>
</table>

<h2>Kommentare hinzufügen</h2>
<%= form_for @comment do |f| %>
<p>
  <%= f.label :commenter %></br>
  <%= f.text_field :commenter %>
</p>

<p>
<%= f.label :body %></br>
<%= f.text_field :body %>
</p>

<p>
  <%= f.label :gword_id %></br>
  <%=
  # f.text_field :gword_id %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>


<%= link_to 'Edit', edit_gword_path(@gword) %> |
<%= link_to 'Back', gwords_path %>
